<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Savey</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <div style="height:15px;font-size:1px;">&nbsp;</div>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/grocerylist">Home</a></li>
            <li role="presentation"><a href="/grocerylist/about">About</a></li>
            <li role="presentation"><a href="/grocerylist/contact">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Savey {% load staticfiles %}
        <img src="{% static "logo.png" %}" width="50" height="50"></h3>
      </div>
      
      <div style="height:15px;font-size:1px;">&nbsp;</div>
      <div class="jumbotron">
        <h3 class="text-muted">{{ name }}</h3>
        {% if item_list %}
            <table class="table" style="width:100%">
            <h2><tr><td><b>Product</b></td><td><b>Quantity</b></td></tr></h2>
            {% for item in item_list.all %}
                <tr><td>{{ item.product.name }}</td><td>{{ item.quantity }}</tr>
            {% endfor %}
            </table>
        {% else %}
            <p>Add some items.</p>
        {% endif %}

        
	    <form action="{{ action }}" method="POST">
  		    {% csrf_token %}
        <input type='hidden' name="tag" value="{{ tag }}" />
        <table style="width:100%">
            {{ form }}
        </table>
        <input type="submit" name="action" value="Submit List" />
        <input type="submit" name="action"  value="Add Item" />
        </form>


      </div>
        <footer class="footer">
        <p>&copy; Savey 2015</p>
      </footer>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
